################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Refactoring/bin/Debug/net6.0
/Refactoring/obj
